<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  {{>head}}
</head>

<body class="">
  <div class="wrapper ">
    {{>headers}}
    <div class="main-panel">
      <!-- Navbar -->
      {{>headers2}}
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info">
                  <h4 class="card-title">Edit Profile</h4>
                  <p class="card-category">Complete your profile</p>
                </div>
                <div class="card-body">
                  <form method="post" id="profile" name="profile">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Full Name</label>
                          <input type="text" class="form-control" name="Fname" id="Fname" value="{{name}}">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="email" class="form-control" name="email" id="email" value="{{email}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="bmd-label-floating">Adress</label>
                          <input type="text" class="form-control" name="address" id="address" value="{{address}}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">City</label>
                          <input type="text" class="form-control" name="city" id="city" value="{{city}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Mobile No</label>
                          <input type="text" class="form-control" name="mobile" id="mobile" value="{{mobile}}" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Postal Code</label>
                          <input type="text" class="form-control" id="code" name="code" value="{{pincode}}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <button type="submit" class="btn btn-info" id="updateProfile">Update Profile</button>
                      </div>
                    </div>
                  </form>
                  <form method="post" id="passUpdate">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Password</label>
                          <input type="password" class="form-control" name="password" id="password">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Confirm Password</label>
                          <input type="password" class="form-control" name="Cpassword" id="Cpassword">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <button type="submit" class="btn btn-info" id="updatePassword">Update Password</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  {{>headerJS}}
  <script type="text/javascript">


    $(document).ready(function () {
      var ca = document.cookie;
      var token = "Bearer " + ca.slice(7, ca.length);
      $().ready(function () {

        toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": false,
          "progressBar": false,
          "positionClass": "toast-top-right",
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }

        $("#updateProfile").click(function () {

          $("#profile").validate({

            rules: {
              companyName: {
                required: true,
              },
              companyType: {
                required: true,
              },
              Fname: {
                required: true
              },
              email: {
                required: true,
                email: true
              },
              address: {
                required: true
              },
              city: {
                required: true
              },
              mobile: {
                required: true
              },
              code: {
                required: true,
                maxlength: 6,
                minlength: 6
              }
            },
            messages: {
              Fname: {
                required: "Please provide Full Name"
              },
              email: {
                required: "Please enter a valid email address",
                email: "Please provide valid Email"
              },
              address: {
                required: "Please Enter a complete address"
              },
              city: {
                required: "Please provide your country"
              },
              mobile: {
                required: "Please provide your Mobile Number"
              },
              code: {
                required: "Please provide your Postal Code",
                maxlength: "Invaid Pin Code",
                minlength: "Invaid Pin Code"
              }
            },
            submitHandler: function (form) {
              var settings = {
                url: "/updateProfile",
                "method": "POST",
                "timeout": 0,
                "headers": {
                  "Content-Type": "application/json",
                  'Authorization': token
                },
                data: JSON.stringify({
                  "name": $('#Fname').val(),
                  "email": $('#email').val(),
                  "mobile": $('#mobile').val(),
                  "address": $("#address").val(),
                  "mobile": $('#mobile').val(),
                  "pincode": $('#code').val(),
                  "city": $('#city').val()
                }),
              };
              $.ajax(settings).done(function (response) {
                if (response.status == 1) {
                  toastr["success"]("Your details have been saved successfully", "Updated");
                } else {
                  toastr["error"]("Something went wrong. Try again later", "Error");
                }
              });

            }

          });
        });
        $("#updatePassword").click(function () {

          $("#passUpdate").validate({

            rules: {

              password: {
                required: true,
                rangelength: [7, 15]
              },
              Cpassword: {
                equalTo: "#password"
              }
            },
            message: {
              password: {
                required: "Please Enter a passowrd",
                rangelength: "Password Length should not 7 to 15 digit long"
              },
              Cpassword: {

              }
            },
            submitHandler: function (from) {

              $.ajax({

                url: "script.php",
                type: "post",
                data: $("#passUpdate").serialize(),
                success: function (d) {

                  if (d == 'success') {

                    toastr["success"]("Your password has successfully changed.", "Password Changed");


                  } if (d == 'error') {

                    toastr["error"]("Failed to Change password. Try Again Later", "Failed");

                  }
                }
              });
            }
          });
        });

        $('#code').keyup(function () {

          this.value = this.value.replace(/[^0-9\.]/g, '');

        });

        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function (event) {

          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function () {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function () {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function () {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function () {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function () {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function () {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function () {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function () {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          var simulateWindowResize = setInterval(function () {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          setTimeout(function () {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
</body>

</html>